@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}


.navbar{
    z-index: 199;
    
}
.body{
    z-index: 198;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}


